.dark {
  background-color: #181a20;
  color: white;
}
/* .cont{
  background-image:url(../public/image/foreground.png) ;
}
.cont2{
  background-image: url(../public/image/foreground-image-dark.png);
} */